day4/My_workflow_8 (1).json
{
  "name": "My workflow 8",
  "nodes": [
    {
      "parameters": {
        "formTitle": "job application",
        "formDescription": "please fill the form for job application",
        "formFields": {
          "values": [
            {
              "fieldLabel": "enter your name",
              "requiredField": true
            },
            {
              "fieldLabel": "enter your phone number",
              "requiredField": true
            },
            {
              "fieldLabel": "enter your email id",
              "requiredField": true
            },
            {
              "fieldLabel": "position to apply",
              "requiredField": true
            },
            {
              "fieldLabel": "upload resume",
              "fieldType": "file",
              "requiredField": true
            },
            {
              "fieldLabel": ".pdf,.docx,.docs",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "3c5730cf-51d0-4881-b2b9-a66342b39775",
      "name": "On form submission",
      "webhookId": "4f71b19a-2fe7-4ee5-9e0e-c473e693d468"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "upload_resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        280,
        40
      ],
      "id": "8051d525-e08e-4215-821e-f923f934c1cd",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n\"type\": \"object\",\n\"properties\": {\n\"telephone\": {\n\"type\": \"string\"\n},\n\"city\": {\n\"type\": \"string\"\n},\n\"birthdate\": {\n\"type\": \"string\"\n},\n\"name\": {\n\"type\": \"string\"\n},\n\"email\": {\n\"type\": \"string\"\n},\n\"educational qualification\": {\n\"type\": \"string\"\n},\n\"job history\": {\n\"type\": \"string\"\n},\n\"skills\": {\n\"type\": \"string\"\n}\n}\n}",
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        500,
        40
      ],
      "id": "1f0b6422-6208-4046-9e7b-b4074738f358",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1020,
        380
      ],
      "id": "7630a5e8-40df-4ed9-a609-c6a5cc94764c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xDeXoSOidXKoqHMp",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Individual Summary Prompt:\nWrite a concise summary of the following:\nEducational qualification: {{ $json.output['educational qualification'] }}\nJob History: {{ $json.output['job history'] }}\nSkills: {{ $json.output.skills }}\nUse 100 words or less. Be concise and conversational.\nFinal Prompt to Combine:\nWrite a concise summary of the following:\nCity: [No input connected]\nBirthdate: [No input connected]\nEducational qualification: [No input connected]\nJob History: [No input connected]\nSkills: [No input connected]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        860,
        40
      ],
      "id": "af2fdc54-6029-41c5-b0ef-5d632a227aa8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "406cb2c7-e602-486b-ad75-b7a0e9cdf468",
              "name": "job description ",
              "value": "i want a digital marketing executive",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        40
      ],
      "id": "3534bb1c-591d-4bc2-960d-a33938935bda",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['job description '] }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1440,
        40
      ],
      "id": "9c35e691-7cfa-43f2-b34d-44855d5e5ed7",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['enter your email id'] }}",
        "subject": "job update",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1800,
        40
      ],
      "id": "dc28d07c-320c-4f08-85bf-b2d373aea35b",
      "name": "Gmail",
      "webhookId": "4e4aea62-4198-45ba-a28b-48f28af21325",
      "credentials": {
        "gmailOAuth2": {
          "id": "zXKSTJWr9tOhrnZ6",
          "name": "Gmail account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "55c8f935-eea2-403b-949b-75fa54a6c91c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8df27c27ebdd005e11db45d64edf3c4da9abc1a5843be3b299af1b886f484d22"
  },
  "id": "kFS0N5wYWB4VTFUZ",
  "tags": []
}