Day3/task_4.json
{
  "name": "task 4",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Post-Meeting Action Submission",
        "formDescription": "Please submit a summary of the meeting you attended. Be sure to include any action items discussed, who is responsible for each task, and the expected deadlines. This helps keep everyone aligned and accountable.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Meeting Title"
            },
            {
              "fieldLabel": "Team/Department ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Development"
                  },
                  {
                    "option": "Marketing"
                  },
                  {
                    "option": "Designer"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Action What to do?"
            },
            {
              "fieldLabel": "Assigned To",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "sindhujakamaraj27@gmail.com"
                  },
                  {
                    "option": "=tempmail@gmail.com  Marketing "
                  }
                ]
              },
              "multiselect": true,
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "e32cfc2d-acd4-4936-97dd-d406d0b53175",
      "name": "On form submission",
      "webhookId": "b010c4df-14f9-4306-bb85-bb8959dda094"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're a task assigner Youre Role to Remind their Task which was mentioned on the Last mail \n\noutput \nthis task was assigned by teamLead \nMeeting title :{{ $json['Meeting Title'] }}\nyour task :{{ $json['Action What to do?'] }}\nassigned to :{{ $json['Assigned To'] }}\nteam/development : {{ $json['Team/Department '] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "5e6f0596-c1b7-4513-a66f-d4f35972d329",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        420,
        240
      ],
      "id": "ebb22f5e-70f8-4881-8a0c-239768f6b36a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xDeXoSOidXKoqHMp",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"Team/Developmen\": {\n\t\t\t\"type\": \"array\"\n\t\t},\n      \"Task\": {\n\t\t\t\"type\": \"array\"\n\t\t},\n\t\t\"Assigned To\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"Task\": {\n\t\t\t\t\"type\": \"array\"\n\t\t\t}\n\t\t}\n\t}\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ],
      "id": "4885f890-b127-4963-b60b-4c4676f53781",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "sendTo": "=sindhujakamaraj27@gmail.com",
        "subject": "⏰ Task Reminder: Action Item Pending from Recent Meeting",
        "emailType": "text",
        "message": "=Kindly ensure that the task is completed on time. If you've already completed it, please ignore this message or update the project tracker accordingly. \nHere is Your Task {{ $json.output.Task[0] }}\nWhich is assigned by Your Team Leader\nIf you need assistance or foresee any delays, feel free to reach out.  Thanks for your commitment and contribution!  Best regards, Project Coordinator [Your Company Name]",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        0
      ],
      "id": "21c901fe-0402-4cf7-9284-1a889624f7af",
      "name": "Gmail",
      "webhookId": "0481e8da-d7c0-4fa6-beda-557ce42ca046",
      "credentials": {
        "gmailOAuth2": {
          "id": "zXKSTJWr9tOhrnZ6",
          "name": "Gmail account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b22a248e-b32b-4c49-8520-de606f2aefd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8df27c27ebdd005e11db45d64edf3c4da9abc1a5843be3b299af1b886f484d22"
  },
  "id": "b4JDRHZwqdqPnrAc",
  "tags": []
}